*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}
body{
  
    display:flex;
    
    background-size: 100%;
    flex-direction: column;
    max-height:100%;
  
    max-width:100%;
    height:100%;
    left:0;
    overflow:hidden;
    background-color:skyblue;
   
    
   
    
}

.viewFinder{
    position:absolute;
    .viewFinderImg{
        position:absolute;
        width:30px;
        height:30px;
        opacity:1;
        z-index:-20;
        
    }
}
#canvas{
    border:1px solid black;
    position:absolute;
    
    
    
}
.menuEq{
    width:70%;
    height:5%;
    background-color: green;
    position: absolute;
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
    opacity:1;
   
   
    

.insideBp{
    width:100%;
    height:200%;
    background-color: brown;
    
    border:5px solid black;
  
  display:flex;
   
 .bpPlace{
    width:20%;
    height:100%;
    border:3px solid darkblue;
    .slotBp{
        border:1px solid black;
        background-color: darkorange;
        width:100%;
        height:100%;
        position:relative;
        
    }
    .ammoQuantity{
       
        color:white;
        font-weight:bold;
       
        width:30%;
        height:20%;
        background-color: blue;
        position:relative;
        top:-40%;


    }
 }
}

}
.mainMenu{
    position:absolute;
    width:100%;
    height:100%;
    opacity:1;
    cursor:pointer;
    z-index:10;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  #canvasMenu{
    
    
    position:absolute;
  }
    .tloStrony{
        width:80%;
      
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        // filter:blur(3px) grayscale(50%);
       
    }
    .logo{
        height:100%;
        width:100%;
        position:absolute;
        top:0;
       
        background-color:black;
     
       opacity:0.3;
      
      
        
    }
    .panelOption{
        position:absolute;
       
        width:60%;
        height:70%;
        opacity:0.6;
        background-color: green;
        left:50%;
        top:20%;
        transform:translateX(-50%);
        // filter: invert(20%);
        display:flex;
        flex-direction: column;
        align-items: center;
        border:5px solid black;
        
        border-radius: 10%;
        .btn{
            z-index:10;
            width:50%;
            height:20%;
            font-size:50px;
            font-family: 'Bahianita', cursive;
            margin-top:2%;
        }
    }
}



